
#include <windows.h>
#include "resources.h"

IDD_DIALOG_ABOUT DIALOGEX 0, 0, 167, 65
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER |
    WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Finder About"
FONT 8, "MS Shell Dlg"
BEGIN
    DEFPUSHBUTTON   "&OK", IDOK, 58, 44, 50, 14
    LTEXT           "", 104, 7, 7, 102, 14
END
